#js-calc {
  text-align: center;
}
#js-calc, .calc-button, #calc-input, #calc-history, #calc-numbers, #calc-operations {
  border: none;
  color: #6b9959;
  background-color: #444242;
}
::-moz-selection { /* Code for Firefox */
  color: #86fb58;
  background: #7e7e7e;
}
::selection {
  color: #86fb58;
  background: #7e7e7e;
}
#calc-history {
  font-family: 'Nova Mono', monospace;
  font-size: 1.3vw;
  width: 20%;
  margin: 0 auto;
  text-align: right;
}
#js-calc table {
  width: 100%;
  height: 100%;
}
#calc-input {
  font-family: 'Nova Mono', monospace;
  font-size: 250%;
  text-align: center;
}
#js-calc .calc-none {
  visibility: hidden;
}
#js-calc td {
  width: 14.285714285714286%;
  height: 20%;
}
.calc-button {
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Nova Mono', monospace;
  transition-duration: 2s;
  font-size: 250%;
  min-width: 100%;
  min-height: 100%;
  transition-timing-function: ease-out;
}
.calc-button:hover {
  box-shadow: 0 0 1.5vw #86fb58;
  color: #86fb58;
  text-shadow: 0 0 5vw #86fb58;
  transition-duration: .5s;
}
.calc-button:focus, #calc-input:focus {
  outline: 0 !important;
}
